<% title %>
<h1><%= title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
<div class="account-form">
    <form action="/inv/submit-inventory" method="post">
        <label for="classification_id">Classification: <br>
            <%- classificationList %>
        </label>
        <label for="inv_make">Make: <br>
            <input type="text" name="inv_make" id="invMake" required value="<%= locals.inv_make %>">
        </label>
        <label for="inv_model">Model: <br>
            <input type="text" name="inv_model" id="invModel" required value="<%= locals.inv_model %>">
        </label>
        <label for="inv_year">Year: <br>
            <input type="number" name="inv_year" id="invYear" required value="<%= locals.inv_year %>" pattern="\d{4}" >
        </label>
        <label for="inv_description">Description: <br>
            <textarea name="inv_description" id="invDescription" required><%= locals.inv_description %></textarea>
        </label>
        <label for="inv_image">Image Path: <br>
            <input type="text" name="inv_image" id="invImage" required value="<%= locals.inv_image || "/images/vehicles/no-image.jpg" %>">
        </label>
        <label for="inv_thumbnail">Thumbnail Path: <br>
            <input type="text" name="inv_thumbnail" id="invThumbnail" required value="<%= locals.inv_thumbnail || "/images/vehicles/no-image-tn.jpg"%>">
        </label>
        <label for="inv_price">Price: <br>
            <input type="number" name="inv_price" id="invPrice" required value="<%= locals.inv_price %>">
        </label>
        <label for="inv_mileage">Mileage: <br>
            <input type="number" name="inv_miles" id="invMileage" required value="<%= locals.inv_miles %>">
        </label>
        <label for="inv_color">Color: <br>
            <input type="text" name="inv_color" id="invColor" required value="<%= locals.inv_color %>">
        </label>
        <button type="submit"> Add Classification</button>
    </form>
</div>